* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper .menu a {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: #fcfcfc;
}
.wrapper .contacts {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fcfcfc;
}
.wrapper .contacts .header__phone {
  color: #fcfcfc;
  margin-right: 15.92%;
}
.wrapper .main {
  flex: 1 1 auto;
}
.wrapper .main .slider__header {
  display: flex;
  justify-content: space-between;
}
.wrapper .main .slider__header .logo {
  margin: 3.5% 8.25% 3.5% 0;
}
.wrapper .main .header__menu {
  display: flex;
  flex: 2 1 auto;
  align-items: center;
}
.wrapper .main .menu__list:not(:last-child) {
  margin-right: 3.85%;
}
.wrapper .main .header__phone:hover {
  color: rgba(252, 252, 252, 0.4);
}
.wrapper .main .header__contacts {
  display: flex;
  flex: 1 1 auto;
  max-width: 270px;
  align-items: center;
}
.wrapper .main .header__contacts:hover a {
  color: rgba(252, 252, 252, 0.4);
}
.wrapper .main .slider {
  min-height: 650px;
  background: url("../image/Slider-everest.jpg") no-repeat center;
  background-size: cover;
}
.wrapper .main .header__search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../image/Search.svg") no-repeat center;
  margin-right: 11.111%;
}
.wrapper .main .header__account {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../image/Account.svg") no-repeat center;
}
.wrapper .main .header__account:hover,
.wrapper .main .header__search:hover {
  background-color: rgba(252, 252, 252, 0.4);
}